<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @coupon.name %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @coupon.discount %>
</p>

<%= link_to 'Edit', edit_coupon_path(@coupon) %> |
<%= link_to 'Back', coupons_path %>
