<% if !@email_is_registered %>
<div class="section border-top">
  <div class="container">
    <div class="section-title text-center">
      <h3>Do you want to create an account? <%= link_to "Sign up now!", new_user_registration_path(email: @order.email), :class => 'navbar-link'  %></h3>
    </div>
    <div class="row">
      <!-- Icon text box 1 -->
      <div class="col-12 col-lg-4">
        <div class="bg-grey padding-40 icon-3xl">
          <i class="ti-world text-dark"></i>
          <h5 class="margin-top-20">Track orders</h5>
          <p>Follow your oders status and tracking. <%= link_to "Sign up now!", new_user_registration_path(email: @order.email), :class => 'navbar-link'  %></p>
        </div>
      </div>
      <!-- Icon text box 2 -->
      <div class="col-12 col-lg-4">
        <div class="bg-grey padding-40 icon-3xl">
          <i class="ti-truck text-dark"></i>
          <h5 class="margin-top-20">Remember your shipping information</h5>
          <p>We will remember your shipping details so you don't have to type them again. <%= link_to "Sign up now!", new_user_registration_path(email: @order.email), :class => 'navbar-link'  %></p>
        </div>
      </div>
      <!-- Icon text box 3 -->
      <div class="col-12 col-lg-4">
        <div class="bg-grey padding-40 icon-3xl">
          <i class="ti-check-box text-dark"></i>
          <h5 class="margin-top-20">Access your order history</h5>
          <p>Go back through your history so you can easily find items you bought before. <%= link_to "Sign up now!", new_user_registration_path(email: @order.email), :class => 'navbar-link'  %></p>
        </div>
      </div>
    </div><!-- end row -->
  </div><!-- end container -->
  <%= render 'email_subscription/subscription_form' %>
  </div>
<% end %>