<!-- Product Content -->
<% title @item.name %>
<% description @item.description %>
<%= display_meta_tags image_src: @item.item_images.first.image %>

<div class="section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-6 product-single">
        <div class="product-single-img">
          <div class="product-single-img-nav">
            <% @item.item_images.each do |item_image| %>
              <a href="#<%= item_image.id %>">
                <% if item_image.image.thumb.nil? %>
                  <img src="/images/img-circle-small.jpg">
                <% else %>
                  <img src="<%= item_image.image.thumb %>">
                <% end %>
              </a>
            <% end %>
          </div>
          <div class="owl-carousel product-single-img-slider" data-owl-items="1" data-owl-nav="true">
            <% @item.item_images.each do |item_image| %>
              <div data-hash="<%= item_image.id %>">
                <% if item_image.image.nil? %>
                  <img src="/images/col-2-square.jpg">
                <% else %>
                  <img src="<%= item_image.image %>">
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <!-- Product Price -->
        <div class="product-price">
          <% if @current_coupon %>
            <h5 class="font-weight-light"><span>Ð<%= @item.doges %></span> Ð<%= apply_discount(@item.doges, @current_coupon.discount) %> + shipping</h5>        
          <% else %>
            <h5 class="font-weight-light">Ð<%= @item.doges %> + shipping</h5>
          <% end %>
        </div>
        <!-- Product Title -->
        <h4><%= @item.name %></h4>
        <!-- Product text -->
        <p><%= @item.description %></p>
        <!-- Order -->
        <div class="margin-top-20 margin-bottom-20">
          <%= form_tag(add_to_cart_path, method: "get", id: "add_to_cart") do %>
            <%= hidden_field_tag(:item_id, @item.id) %>
            <div class="product-quantity margin-right-30">
              <button type="button" class="button-circle button-circle-xs button-circle-grey dec"><i class="ti-minus"></i></button>
              <input type="text" name="amount" id="quantity" value="1">
              <button type="button" class="button-circle button-circle-xs button-circle-grey inc"><i class="ti-plus"></i></button>
              </div>
              <a href="javascript:{}" onclick="document.getElementById('add_to_cart').submit(); return false;">
              <button class="button button-lg button-dark" style="background-color: #e67e22; border-color: #e67e22">Add to cart</button>
              </a>
            <% end %>
        </div>
        <div class="col-12 col-lg-6 center-block">
          <%= render 'coupons/input' %>
        </div>
      </div>
    </div><!-- end row -->
  </div><!-- end container -->
</div>
<!-- end Product Content -->